$bodyFont: "Montserrat", sans-serif;
$primary: #B59FD0;
$secondary: #25133D;
$light: #694794;
$dark: #191919;
$danger: #C09836;
$btn-border-radius: 15px;
$input-btn-padding-x: 2em;
$carousel-control-color: #25133D;
$navbar-light-icon-color: #25133D;
$navbar-light-toggler-border-color: #25133D;
$navbar-light-color: #25133D;

$form-text-color: #25133D;
$light-primary: #25133D;
// $font-size-base: 1rem;
$input-color: #25133D;