@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

:root {
  --artFont: 'Great Vibes', Arial, Verdana, Tahoma, Georgia, sans-serif;
}
body {
  font-family: $bodyFont;
  max-width: 1400px;
  color: $dark;
}

.card-hover {
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.btn-link:hover {
  background-color: $light;
  text-decoration: none;
}
.navbar-collapse {
  text-align: center;
}

.cover{
  // background-position-x: right;
  // background-position-y: top;    
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  height: auto;
  opacity: 0.7;
}
.cover-content {
  font-family: var(--artFont);
  top: 15%;
  left: 15%;
 
}
.nailImage {
  width: 100%;
}
a{
  color: $light;
}